<div class="table-container">
  <ngx-datatable
    [rows]="elementData"
    [columns]="columnsInfo"
    [loadingIndicator]="isLoading"
    class="material"
    [headerHeight]="50"
    [limit]="10"
    [columnMode]="ColumnMode.force"
    [footerHeight]="50"
    rowHeight="auto"
    [selectionType]="SelectionType.single"
    (select)="onItemSelected($event)"
  >
    <ng-container *ngFor='let column of columnsInfo' >
      <ngx-datatable-column minWidth="100" *ngIf='column.name === "Acciones"' name="Acciones" prop="id">
        <ng-template let-value="value" let-row="row"  ngx-datatable-cell-template>
          <div class="btns-container">
            <span>
              <button mat-flat-button (click)='onTrashCanClicked($event, row)'><mat-icon>delete_forever</mat-icon></button>
            </span>
            <span>
              <button *ngIf="canBeExported" mat-flat-button (click)='onExportClicked($event, row)'><mat-icon>file_download</mat-icon></button>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf='column.name !== "Acciones"' name="{{column.name}}" prop="{{column.prop}}">
      </ngx-datatable-column>
    </ng-container>
  </ngx-datatable>
</div>