<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="proyectosInversion">
            <mat-form-field appearance="outline">
                <mat-label>PLANTAS CACAO 800-801</mat-label>
                <input matInput formControlName="necesitaPlantasCacao800801" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>COMBO APÍCOLA</mat-label>
                <input matInput formControlName="necesitaComboApicola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PIES DE CRÍAS E INSUMOS</mat-label>
                <input matInput formControlName="necesitaPiesCriasInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PESCES E INSUMOS</mat-label>
                <input matInput formControlName="necesitaPecesInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="necesitaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS</mat-label>
                <input matInput formControlName="necesitaOtrosProyectosInversion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PLANTAS CACAO 800-801</mat-label>
                <input matInput formControlName="disponibilidadInvertirPlantasCacao800801" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>COMBO APÍCOLA</mat-label>
                <input matInput formControlName="disponibilidadInvertirComboApicola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PIES DE CRÍAS E INSUMOS</mat-label>
                <input matInput formControlName="disponibilidadInvertirPiesCriasInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PESCES E INSUMOS</mat-label>
                <input matInput formControlName="disponibilidadInvertirPecesInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="disponibilidadInvertirRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS</mat-label>
                <input matInput formControlName="disponibilidadInvertirOtros" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PLANTAS CACAO 800-801</mat-label>
                <input matInput formControlName="condAdecuadasPlantasCacao800801" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>COMBO APÍCOLA</mat-label>
                <input matInput formControlName="condAdecuadasComboApicola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PIES DE CRÍAS E INSUMOS</mat-label>
                <input matInput formControlName="condAdecuadasPiesCriasInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PESCES E INSUMOS</mat-label>
                <input matInput formControlName="condAdecuadasPecesInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="condAdecuadasRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS</mat-label>
                <input matInput formControlName="condAdecuadasOtros" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PLANTAS CACAO 800-801</mat-label>
                <input matInput formControlName="condEconomicasPlantasCacao800801" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>COMBO APÍCOLA</mat-label>
                <input matInput formControlName="condEconomicasComboApicola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PIES DE CRÍAS E INSUMOS</mat-label>
                <input matInput formControlName="condEconomicasPiesCriasInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PESCES E INSUMOS</mat-label>
                <input matInput formControlName="condEconomicasPecesInsumos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="condEconomicasRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS</mat-label>
                <input matInput formControlName="condEconomicasOtros" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>