<div class="container emulated-flex-gap">
    <div style="margin-top: 1rem;">
        <h1>Bienvenid@</h1>
    </div>
    <div class="row">
        <div class="col-md">
            <mat-card class="card" routerLink="/inicio/agricultores">
                <mat-card-content class="align-middle" style="margin-top: 1rem;">
                    <mat-card-title>
                        <h1>AGRICULTOR</h1>
                    </mat-card-title>
                    <span class="material-icons">agriculture</span>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="card" routerLink="/inicio/formulariosLineaBase">
                <mat-card-content class="align-middle">
                    <mat-card-title>
                        <h1>FORMULARIOS DE LINEA BASE</h1>
                    </mat-card-title>
                    <span class="material-icons">assignment</span>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="card" routerLink="/inicio/formulariosVerificacion">
                <mat-card-content class="align-middle">
                    <mat-card-title>
                        <h1>FORMULARIOS DE VERIFICACION</h1>
                    </mat-card-title>
                    <span class="material-icons">
                        assignment_turned_in
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>