<div class="container emulated-flex-gap">
    <div style="margin-top: 1rem;">
        <h1>Bienvenid@</h1>
    </div>

    <!--<div class="row justify-content-center">
        <div class="card">
            <a routerLink="/inicio/agricultores" class="stretched-link"></a>
            <div class="card-body" style="text-align: center;margin-top: 2rem;">
                <h1 class="card-title">AGRICULTOR</h1>
                <span id="icono" class="material-icons">agriculture</span>
            </div>
        </div>
        <div class="card">
            <a routerLink="/inicio/formulariosLineaBase" class="stretched-link"></a>
            <div class="card-body" style="text-align: center;margin-top: 1rem;">
                <h1 class="card-title" style="margin: 0;margin-bottom: 0.7rem;">FORMULARIOS DE LINEA BASE</h1>
                <span id="icono" class="material-icons">assignment</span>
            </div>
        </div>
        <div class="card">
            <a routerLink="/inicio/formulariosVerificacion" class="stretched-link"></a>
            <div class="card-body" style="text-align: center;margin-top: 1rem;">
                <h1 class="card-title" style="margin: 0;margin-bottom: 0.7rem;">FORMULARIOS DE VERIFICACION</h1>
                <span class="material-icons">
                    assignment_turned_in
                </span>
            </div>
        </div>
    </div>-->


    <div class="row justify-content-center">
        <mat-card class="card" routerLink="/inicio/agricultores">
            <mat-card-content class="card-body" style="text-align: center;margin-top: 1rem;">
                <mat-card-title>
                    <h1 class="card-title">AGRICULTOR</h1>
                </mat-card-title>
                <span id="icono" class="material-icons">agriculture</span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" routerLink="/inicio/formulariosLineaBase">
            <mat-card-content class="card-body" style="text-align: center;">
                <mat-card-title>
                    <h1 class="card-title" style="margin: 0;margin-bottom: 0.7rem;">FORMULARIOS DE LINEA BASE</h1>
                </mat-card-title>
                <span id="icono" class="material-icons">assignment</span>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" routerLink="/inicio/formulariosVerificacion">
            <mat-card-content class="card-body" style="text-align: center;">
                <mat-card-title>
                    <h1 class="card-title" style="margin: 0;margin-bottom: 0.7rem;">FORMULARIOS DE VERIFICACION</h1>
                </mat-card-title>
                <span class="material-icons">
                    assignment_turned_in
                </span>
            </mat-card-content>
        </mat-card>
    </div>



</div>