<div class="contenido">
    <div>
        <h1 class="title">Bienvenid@</h1>
    </div>
    <div class="cards">
        <div class="card-container" routerLink="/inicio/agricultores">
            <div class="home-card">
                <h1>AGRICULTOR</h1>
                <span class="material-icons">agriculture</span>
            </div>
        </div>
        <div class="card-container" routerLink="/inicio/formulariosLineaBase">
            <div class="home-card">
                <h1>LINEA BASE</h1>
                <span class="material-icons">assignment</span>
            </div>
        </div>
        <div class="card-container" routerLink="/inicio/formulariosVerificacion">
            <div class="home-card">
                <h1>VERIFICACIÓN</h1>
                <span class="material-icons">assignment_turned_in</span>
            </div>
        </div>
        <div class="placeholder"></div>
    </div>

</div>