<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="incrementarProductividad">
            <div class="columns-flex">
                <ul class="column-item-full">
                    <li *ngFor="let proyecto of proyectos; index as i">
                      <mat-checkbox formControlName="variedadesSembradasCalificacion">
                        {{proyecto}}
                      </mat-checkbox>
                    </li>
                  </ul>
            </div>
            <!-- div>
                <mat-form-field appearance="outline" >
                    <mat-label>Recibir Plantas de Cacao Nacional</mat-label>
                    <input matInput formControlName="recibirPlantasCacaoNacional" name="someUnusualName" autocomplete="off">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Aprender Elab Productos Nacionales</mat-label>
                    <input matInput formControlName="aprenderElabProductosNaturales" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div -->
        </div>
    </mat-card-content>
</form>
