<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container" formGroupName="mejorarCalidadCacao">
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Bandejas o cajones de Fermentacion</mat-label>
                    <mat-select formControlName="bandejasCajonesFermentacion">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Tendales elevados por caña</mat-label>
                    <mat-select formControlName="tendalesElevadosCania">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Secadoras comunitarias</mat-label>
                    <mat-select formControlName="secadorasComunitarias">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col-md-6"></div>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>¿Está dispuesto a hacerlo por su cuenta?</mat-label>
                    <mat-select formControlName="dispuestoHacerloPropiaCuenta">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>¿Cuenta con agrupacion de vecinos para trabajar en el proyecto?</mat-label>
                    <mat-select formControlName="contarAgrupacionParaProyecto">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
