<div class="table-container">
  <app-material-table
    [isLoading]="isTableLoading"
    [elementData]="data"
    [columnsInfo]="columnsInfo"
    [canBeExported]="false"
    (rowClicked)="onItemSelected($event)"
    (rowTrashcanClicked)="onTrashCanClicked($event)"
  >
  </app-material-table>
  <div class="button-container">
    <button mat-fab color="accent" (click)="onAddClicked()" aria-label="Añadir">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!isTableLoading">
  <h1>HOLA</h1>
  <div *ngFor="let agricultor of data">
    <p>{{ agricultor.nombre }}</p>
  </div>
</div>

<div *ngFor="let agricultor of data">
  <p>hola</p>
  <p>{{ agricultor.nombre }}</p>
</div>

<app-edit-agricultor-dialog  [agricultor]="selectedItem"></app-edit-agricultor-dialog>
