<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="conservacionAguaManejoDesechos">
            <mat-form-field appearance="outline">
                <mat-label>FINCA CUENTA CON RIEGO</mat-label>
                <input matInput formControlName="fincaConRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DISEÑO DEL RIEGO</mat-label>
                <input matInput formControlName="disenioRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>HECTÁREAS CON TIPO DE RIEGO</mat-label>
                <input matInput formControlName="hectareasDisenioRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PERMISO DE EXTRAER AGUA PARA RIEGO</mat-label>
                <input matInput formControlName="permisoExtraerAguaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>REALIZA ANÁLISIS DE AGUA DE RIEGO</mat-label>
                <input matInput formControlName="analisisAguaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PRESENTA ANEXOS</mat-label>
                <input matInput formControlName="presentaAnexos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>UTILIZA FILTRO ECOLÓGICO</mat-label>
                <input matInput formControlName="utilizaFiltroEcologico" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PARA QUÉ LO UTILIZA:</mat-label>
                <input matInput formControlName="razonUsoFiltroEcologico" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CUENTA CON ÁREA DESECH. PLÁSTICOS</mat-label>
                <input matInput formControlName="areaDeschPlasticos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>FINCA ESTÁ LIBRE DE PLÁCTICOS</mat-label>
                <input matInput formControlName="fincaLibrePlasticos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CLASIFICA BASURA DOMÉSTICA</mat-label>
                <input matInput formControlName="clasificaBasuraDomestica" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CUÁL ES EL CRITERIO:</mat-label>
                <input matInput formControlName="criterioClasificaBasuraDomestica" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PRACTICA RECICLAJE O COMPOSTAJE</mat-label>
                <input matInput formControlName="practicaReciclajeCompostaje" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CUÁL ES EL TRATAMIENTO DE LA BASURA</mat-label>
                <input matInput formControlName="tratamientoBasura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>¿SABE USTED QUE LA EMPRESA CUENTA CON UN ÁREA DE RECEPCIÓN DE ENVASES DE PRODUCTOS QUÍMICOS VACÍOS?</mat-label>
                <input matInput formControlName="conocimientoAreaRecepcioEnvasesProductosQuimicos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>HA HECHO USO DE ESTE SERVICIO</mat-label>
                <input matInput formControlName="usoServicioAreaRecepcioEnvasesProductosQuimicos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>FRECUENCIA:</mat-label>
                <input matInput formControlName="frecuenciaUsoServicioAreaRecepcioEnvasesProductosQuimicos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ALMACENA CON SEGURIDAD LOS ENVASES PREVIO AL TRASLADO DE DESTINO</mat-label>
                <input matInput formControlName="almacenaSeguridadEnvasesPrevioTraslado" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CUÁL ES EL LUGAR DE ALMACENAMIENTO</mat-label>
                <input matInput formControlName="lugarAlmacena" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TRATAMIENTO AGUA NEGRA</mat-label>
                <input matInput formControlName="tratamientoAguasNegras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TIPO EXTRACCIÓN</mat-label>
                <input matInput formControlName="tipoExtraccion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>INFRAESTRUCTURA DEL RIEGO</mat-label>
                <input matInput formControlName="infraestructuraRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>IMPACTO DEL RIEGO</mat-label>
                <input matInput formControlName="impactoRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>