<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="manejoSuelo">
            <div class="columns-flex">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>TIPO DE SUELO:</mat-label>
                    <mat-select formControlName="tipoSuelo" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let value of tipoSuelo" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>¿HA RECIBIDO CAPACITACIÓN EN LA TOMA DE MUESTRAS DE SUELO?</mat-label>
                    <mat-select formControlName="capacitacionTomaMuestrasSuelo" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>¿HA REALIZADO ANÁLISIS DE SUELO?</mat-label>
                    <mat-select formControlName="analisisSuelo" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>PH DEL SUELO</mat-label>
                    <input matInput formControlName="sueloPH" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>SUELOS MUESTRAN NIVELES ALTOS DE ACIDEZ</mat-label>
                    <mat-select formControlName="suelosNivelesAltosAcidez" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>HA CORREGIDO PH DEL SUELO EN FINCA</mat-label>
                    <mat-select formControlName="corregidoPHSueloFinca" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>¿CÓMO HA CORREGIDO PH DEL SUELO?</mat-label>
                    <mat-select formControlName="maneraCorregidoPHSuelo" name="someUnusualName" autocomplete="off" (selectionChange)="loadTipoProdcuto($event)">
                        <mat-option *ngFor="let value of maneraCorregirPH" [value]="value">
                            {{value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="column-item-2" appearance="outline">
                    <mat-label>TIPO PRODUCTO</mat-label>
                    <div *ngIf="tipoProducto=='QUIMICO'; else elseBlock">
                        <mat-select formControlName="tipoProducto" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of productoXTipoQuimico" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <ng-template #elseBlock>
                        <mat-select formControlName="tipoProducto" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of productoXTipoNatural" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </ng-template>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>