<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="condicionesLaborales">
            <mat-form-field appearance="outline">
                <mat-label>DISCRIMINACIÓN</mat-label>
                <input matInput formControlName="discriminacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>EXPLOTACIÓN</mat-label>
                <input matInput formControlName="explotacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TRABAJO INFANTIL</mat-label>
                <input matInput formControlName="trabajoInfantil" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DOCUMENTOS DE SOPORTE</mat-label>
                <input matInput formControlName="documentosSoporte" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MONTO DE ACUERDO AL CONTRATO AGRÍCOLA</mat-label>
                <input matInput formControlName="montoAcuerdoContratoAgricola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>