<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="cosecha">
            <div class="columns flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Sus tumbas las realiza:</mat-label>
                    <mat-select formControlName="periodoCadaTumba" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let periodo of periodosTumba" [value]="periodo">{{periodo}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Latas de cacao fresco cosechadas por tumba</mat-label>
                    <input matInput formControlName="latasCacaoXTumba" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>¿Realiza Escurrido y Presecado para el CCN51?</mat-label>
                    <mat-select formControlName="realizaEscurridoSecadoCCN51" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>¿Cuántos dias fermenta el cacao?</mat-label>
                    <input matInput formControlName="diasFermentadoCacao" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
