<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="hectareaje">
            <mat-form-field appearance="outline" >
                <mat-label>Dimension Total de la Finca</mat-label>
                <input matInput formControlName="dimensionTotalFinca" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>El Terreno es:</mat-label>
                <mat-select formControlName="terreno" name="someUnusualName" autocomplete="off">
                    <mat-option *ngFor="let tipoTerreno of hectareajeTipoTerreno" [value]="tipoTerreno">
                    {{tipoTerreno}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>El Cultivo de Cacao es:</mat-label>
                <mat-select formControlName="cultivoCacao" name="someUnusualName" autocomplete="off">
                    <mat-option *ngFor="let tipoCultivo of hectareajeCultivoCacao" [value]="tipoCultivo">
                    {{tipoCultivo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Esta Asociado con/tiene:</mat-label>
                <mat-select formControlName="asociadoConTiene" name="someUnusualName" autocomplete="off">
                    <mat-option *ngFor="let value of hectareajeAsociadoConTiene" [value]="value">
                    {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Especifique:</mat-label>
                <input matInput formControlName="otrosEspecifique" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Area Neta de Cacao</mat-label>
                <input matInput formControlName="areaNetaCacao" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Distancia de Plantas</mat-label>
                <mat-select formControlName="distanciaPlantas" name="someUnusualName" autocomplete="off">
                    <mat-option *ngFor="let value of hectareajeDistanciaPlantas" [value]="value">
                    {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Plantas por Hectareas</mat-label>
                <input matInput formControlName="plantasXHectareas" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>La Finca se encuentra:</mat-label>
                <mat-select formControlName="tipoUbicacionZona" name="someUnusualName" autocomplete="off">
                    <mat-option *ngFor="let value of hectareajeTipoUbicacionZona" [value]="value">
                    {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
