<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="maquinariaAgricola">
            <mat-form-field appearance="outline">
                <mat-label>MOTOGUADAÑA</mat-label>
                <input matInput formControlName="estadoMotoguadania" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MOTOSIERRA</mat-label>
                <input matInput formControlName="estadoMotosierra" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PODADORA DE ALTURA</mat-label>
                <input matInput formControlName="estadoPodadoraDeAltura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BOMBA DE RIEGO</mat-label>
                <input matInput formControlName="estadoBombaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BOMBA A MOTOR</mat-label>
                <input matInput formControlName="estadoBombaAMotor" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="estadoOtrosMaquinariaAgricola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MOTOGUADAÑA</mat-label>
                <input matInput formControlName="necesitaMotoguadania" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MOTOSIERRA</mat-label>
                <input matInput formControlName="necesitaMotosierra" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PODADORA DE ALTURA</mat-label>
                <input matInput formControlName="necesitaPodadoraDeAltura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BOMBA DE RIEGO</mat-label>
                <input matInput formControlName="necesitaBombaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BOMBA A MOTOR</mat-label>
                <input matInput formControlName="necesitaBombaAMotor" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="necesitaOtrosMaquinariaAgricola" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>