<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="informacionFamilia">
            <mat-form-field appearance="outline" >
                <mat-label>Clasificacion del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro1ClasifiacionMiembroFamiliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Edad del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro1Edad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Genero del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro1Genero" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro1SeguridadSocial" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Nivel de Educacion</mat-label>
                <input matInput formControlName="miembro1NivelEduacion" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labora en la Finca</mat-label>
                <input matInput formControlName="miembro1LaboraEnFinca" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labor que Realiza</mat-label>
                <input matInput formControlName="miembro1LaborRealizado" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                <input matInput formControlName="miembro1HorasAlDiaTrabaja" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                <input matInput formControlName="miembro1tieneOtraFuenteIngreso" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Sueldo o Ingreso Mensual</mat-label>
                <input matInput formControlName="miembro1sueldoIngresoMensual" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <!--**********************************************************************************************************************-->
            <mat-form-field appearance="outline" >
                <mat-label>Clasificacion del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro2ClasifiacionMiembroFamiliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Edad del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro2Edad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Genero del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro2Genero" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro2SeguridadSocial" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Nivel de Educacion</mat-label>
                <input matInput formControlName="miembro2NivelEduacion" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labora en la Finca</mat-label>
                <input matInput formControlName="miembro2LaboraEnFinca" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labor que Realiza</mat-label>
                <input matInput formControlName="miembro2LaborRealizado" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                <input matInput formControlName="miembro2HorasAlDiaTrabaja" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                <input matInput formControlName="miembro2tieneOtraFuenteIngreso" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Sueldo o Ingreso Mensual</mat-label>
                <input matInput formControlName="miembro2sueldoIngresoMensual" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <!--**********************************************************************************************************************-->
            <mat-form-field appearance="outline" >
                <mat-label>Clasificacion del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro3ClasifiacionMiembroFamiliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Edad del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro3Edad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Genero del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro3Genero" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro3SeguridadSocial" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Nivel de Educacion</mat-label>
                <input matInput formControlName="miembro3NivelEduacion" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labora en la Finca</mat-label>
                <input matInput formControlName="miembro3LaboraEnFinca" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labor que Realiza</mat-label>
                <input matInput formControlName="miembro3LaborRealizado" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                <input matInput formControlName="miembro3HorasAlDiaTrabaja" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                <input matInput formControlName="miembro3tieneOtraFuenteIngreso" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Sueldo o Ingreso Mensual</mat-label>
                <input matInput formControlName="miembro3sueldoIngresoMensual" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <!--**********************************************************************************************************************-->
            <mat-form-field appearance="outline" >
                <mat-label>Clasificacion del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro4ClasifiacionMiembroFamiliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Edad del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro4Edad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Genero del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro4Genero" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                <input matInput formControlName="miembro4SeguridadSocial" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Nivel de Educacion</mat-label>
                <input matInput formControlName="miembro4NivelEduacion" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labora en la Finca</mat-label>
                <input matInput formControlName="miembro4LaboraEnFinca" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Labor que Realiza</mat-label>
                <input matInput formControlName="miembro4LaborRealizado" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                <input matInput formControlName="miembro4HorasAlDiaTrabaja" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                <input matInput formControlName="miembro4tieneOtraFuenteIngreso" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Sueldo o Ingreso Mensual</mat-label>
                <input matInput formControlName="miembro4sueldoIngresoMensual" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <!--**********************************************************************************************************************-->
            <mat-form-field appearance="outline" >
                <mat-label>Algun Familar presenta Discapacidad</mat-label>
                <input matInput formControlName="familiarDiscapacitado" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Esposa se involucra en la Entrevista</mat-label>
                <input matInput formControlName="esposaInvolucradaEntrevista" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Esposo incluye Esposa en Entrevista</mat-label>
                <input matInput formControlName="esposoIncluyeEsposaEntrevista" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Gustaria Ingreso Adicional Conyuge</mat-label>
                <input matInput formControlName="deseoIngresoAdicionalConyuge" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Gustaria Trabajo 1/2 tiempo Proyectos del Programa</mat-label>
                <input matInput formControlName="deseoTrabajoMedioTiempoProyectosFuturos" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>¿Como cual?</mat-label>
                <input matInput formControlName="comoCual" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Hijo interesado en participar Proy Rehab Finca</mat-label>
                <input matInput formControlName="hijoInteresadoEnProyectosRehabilitacionFinca" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
