<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="title">
  <h2>Formularios de Línea Base</h2>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <button mat-button color="primary" class="col-md-4 col-6" (click)="exportAll()">Exportar Todos</button>
    <button mat-button color="primary" class="col-md-4 col-6" (click)="onImportClicked($event)">Importar</button>
    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="import($event)" accept=".csv" />
  </div>
</div>
<div class="table-container">
  <app-material-table
    [isLoading]="isTableLoading"
    [canBeExported]="true"
    [elementData]="data"
    [columnsInfo]="columnsInfo"
    (rowClicked)="onItemSelected($event)"
    (rowTrashcanClicked)="onTrashCanClicked($event)"
    (rowExportClicked)="onExportClicked($event)"
  >
  </app-material-table>
  <div class="button-container">
    <button mat-fab color="accent" (click)="onAddClicked()" aria-label="Añadir">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
