<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container" formGroupName="conservacionRecursosManejoDesechos">
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>¿Tiene Conocimientos sobre el manejo de desechos?</mat-label>
                    <mat-select formControlName="conocimientoManejoDesechos" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>¿El Productor contamina ecosistemas acuaticos o terrestres?</mat-label>
                    <mat-select formControlName="productoContaminaEcosistema" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12" appearance="outline" >
                    <mat-label>¿Dónde se vierten las aguas negras y los desechos líquidos?</mat-label>
                    <mat-select formControlName="ubicacionDesechosAguasNegras" multiple>
                        <mat-option *ngFor="let lugar of lugaresDesecho" [value]="lugar">{{lugar}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>¿El Productor tiene arboles de sombrio?</mat-label>
                    <mat-select formControlName="tieneArbolesSombrio" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12" appearance="outline" >
                    <mat-label>Adicional al Cacao ¿Destina espacio para cultivar vegetales, hortalizas y frutas de consumo?</mat-label>
                    <mat-select formControlName="cultivaVegetalesHortalizasFrutas" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="hayEspacio()">
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Compra estos productos en mercados locales?</mat-label>
                        <mat-select formControlName="compraProductosMercadoLocales" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Cuánto gasta semanalmente en compra de estos productos?</mat-label>
                        <input matInput formControlName="valorPromedioGastado" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>
