<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="calidadPostCosecha">
            <mat-form-field appearance="outline">
                <mat-label>CAJON FERMENTACION</mat-label>
                <input matInput formControlName="necesitaCajonFermentacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MARQUESINAS</mat-label>
                <input matInput formControlName="necesitaMarquesinas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TENDALES</mat-label>
                <input matInput formControlName="necesitaTendales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SECADORAS</mat-label>
                <input matInput formControlName="necesitaSecadoras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="necesitaOtrosCalidadPostCosecha" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CAJON FERMENTACION</mat-label>
                <input matInput formControlName="disponibilidadInvertirCajonFermentacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MARQUESINAS</mat-label>
                <input matInput formControlName="disponibilidadInvertirMarquesinas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TENDALES</mat-label>
                <input matInput formControlName="disponibilidadInvertirTendales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SECADORAS</mat-label>
                <input matInput formControlName="disponibilidadInvertirSecadoras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="disponibilidadInvertirOtrosCalidadPostCosecha" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CAJON FERMENTACION</mat-label>
                <input matInput formControlName="condAdecuadasFermentacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MARQUESINAS</mat-label>
                <input matInput formControlName="condAdecuadasMarquesinas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TENDALES</mat-label>
                <input matInput formControlName="condAdecuadasTendales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SECADORAS</mat-label>
                <input matInput formControlName="condAdecuadasSecadoras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="condAdecuadasOtrosCalidadPostCosecha" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CAJON FERMENTACION</mat-label>
                <input matInput formControlName="condEconomicasFermentacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MARQUESINAS</mat-label>
                <input matInput formControlName="condEconomicasMarquesinas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TENDALES</mat-label>
                <input matInput formControlName="condEconomicasTendales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SECADORAS</mat-label>
                <input matInput formControlName="condEconomicasSecadoras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="condEconomicasOtrosCalidadPostCosecha" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>