<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="conservacionSuelosBiodiversidad">
            <mat-form-field appearance="outline">
                <mat-label>PRODUCTOR UTILIZA PRÁCTICAS DE CONSERVACIÓN DE SUELOS</mat-label>
                <input matInput formControlName="practicasConservacionSuelos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OBSERVA QUE PRODUCTOR PRACTIQUE DEFORESTACIÓN</mat-label>
                <input matInput formControlName="practicaDeforestacion" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>HA PLANTADO ÁRBOLES DE SOMBRÍO RECIENTEMENTE</mat-label>
                <input matInput formControlName="plantadoArbolesSombrioRecient" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>¿CUÁNTOS?</mat-label>
                <input matInput formControlName="cuantosArbolesSombrio" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PROMEDIO DE ÁRBOLES POR HECTÁREA</mat-label>
                <input matInput formControlName="promedioArbolesXHectarea" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>¿HA REFORESTADO LAS ORILLAS?</mat-label>
                <input matInput formControlName="reforestadoOrillas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PROMEDIO DE ÁRBOLES X HA. QUE SUPERAN LOS 12 METROS DE ALTURA</mat-label>
                <input matInput formControlName="promedioArbolXHectarea12MAltura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ESPECIES DIFERENTES DE ÁRBOLES QUE EXISTEN X HA</mat-label>
                <input matInput formControlName="especiesDiferentesArbolesXHectarea" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>¿QUÉ ESPECIES DE ÁRBOLES PRESENTA EL CULTIVO?</mat-label>
                <input matInput formControlName="especiesArbolesEnCultivo" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ESPECIFIQUE ESPECIE DE ARBOL:</mat-label>
                <input matInput formControlName="especifiqueOtrosEspeciesArboles" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>