<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container-fluid" formGroupName="informacionFinca">
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Nombre Finca</mat-label>
                    <input matInput formControlName="nombreFinca">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Provincia</mat-label>
                    <input matInput formControlName="provincia">
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Canton</mat-label>
                    <input matInput formControlName="canton">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Parroquia</mat-label>
                    <input matInput formControlName="parroquia">
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Recinto</mat-label>
                    <input matInput formControlName="recinto">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12" appearance="outline" >
                    <mat-label>Descripcion Para Llegar a Finca</mat-label>
                    <textarea matInput formControlName="descripcionLlegarFinca"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
