<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="herramientas">
            <mat-form-field appearance="outline">
                <mat-label>TIJERAS</mat-label>
                <input matInput formControlName="estadoTijeras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SERRUCHOS</mat-label>
                <input matInput formControlName="estadoSerruchos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MACHETES</mat-label>
                <input matInput formControlName="estadoMachetes" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BALDES</mat-label>
                <input matInput formControlName="estadoBaldes" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TANQUES</mat-label>
                <input matInput formControlName="estadoTanques" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PALAS</mat-label>
                <input matInput formControlName="estadoPalas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>EPP</mat-label>
                <input matInput formControlName="estadoEPP" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>KIT DE PODA</mat-label>
                <input matInput formControlName="estadoKitPoda" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>KIT DE VIVERO</mat-label>
                <input matInput formControlName="estadoKitVivero" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS</mat-label>
                <input matInput formControlName="estadoOtrosHerramientas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TIJERAS</mat-label>
                <input matInput formControlName="necesitaTijeras" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>SERRUCHOS</mat-label>
                <input matInput formControlName="necesitaSerruchos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>MACHETES</mat-label>
                <input matInput formControlName="necesitaMachetes" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BALDES</mat-label>
                <input matInput formControlName="necesitaBaldes" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>TANQUES</mat-label>
                <input matInput formControlName="necesitaTanques" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PALAS</mat-label>
                <input matInput formControlName="necesitaPalas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>EPP</mat-label>
                <input matInput formControlName="necesitaEPP" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>KIT DE PODA</mat-label>
                <input matInput formControlName="necesitaKitPoda" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>KIT DE VIVERO</mat-label>
                <input matInput formControlName="necesitaKitVivero" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTROS:</mat-label>
                <input matInput formControlName="necesitaOtrosHerramientas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>