<div class="login-wrapper">

    <mat-card class="box">
      <div class="contenedor">
        <mat-card-header>
          <mat-card-title>Sign in</mat-card-title>
        </mat-card-header>
    
        <form class="example-form" [formGroup]="operadorForm" (ngSubmit)="onSubmit()">
          <mat-card-content style="display: grid;">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="username" name="someUnusualName" autocomplete="off">
              <mat-error *ngIf="operadorForm.get('username').invalid">{{getErrorMessage(operadorForm.get('username'))}}</mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" name="someUnusualName" autocomplete="new-password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="operadorForm.get('password').invalid">{{getErrorMessage(operadorForm.get('password'))}}</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="btns-container">
            <button type="submit" mat-raised-button color="primary">Sign in</button>
            <button type="button" mat-raised-button color="basic" [routerLink]="['/auth/register']">Sign Up</button>
          </mat-card-actions>
        </form>
      </div>
    </mat-card>
  
  </div>