<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="cacaoNacional">
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Total Nacional</mat-label>
                    <input matInput formControlName="areaTotalNacional" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Total Nacional Viejo</mat-label>
                    <input matInput formControlName="areaTotalNacionalViejo" name="someUnusualName" autocomplete="off">
                </mat-form-field>
                <div class="column-item-3"></div>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Cacao Viejo</mat-label>
                    <input matInput formControlName="edadCacaoViejo" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <div class="column-item-3"></div>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Presenta Brotes Basales</mat-label>
                    <input matInput formControlName="brotesBasales" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Presenta Arboles Elite</mat-label>
                    <input matInput formControlName="arbolesElite" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Total Viejo Injertado</mat-label>
                    <input matInput formControlName="areaTotalViejoInjertado" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Viejo Injertado 1</mat-label>
                    <input matInput formControlName="areaViejoInjertado" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Viejo Injertado 1</mat-label>
                    <input matInput formControlName="edadViejoInjertado" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <div class="column-item-3"></div>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Viejo Injertado 2</mat-label>
                    <input matInput formControlName="areaViejoInjertado2" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Viejo Injertado 2</mat-label>
                    <input matInput formControlName="edadViejoInjertado2" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Total Nuevos Clones</mat-label>
                    <input matInput formControlName="areaTotalNuevosClones" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Nuevos Clones 1</mat-label>
                    <input matInput formControlName="areaNuevosClones" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 1</mat-label>
                    <input matInput formControlName="edadNuevosClones" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <div class="column-item-3"></div>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Nuevos Clones 2</mat-label>
                    <input matInput formControlName="areaNuevosClones2" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 2</mat-label>
                    <input matInput formControlName="edadNuevosClones2" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <div class="column-item-3"></div>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Area Nuevos Clones 3</mat-label>
                    <input matInput formControlName="areaNuevosClones3" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-3" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 3</mat-label>
                    <input matInput formControlName="edadNuevosClones3" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Produccion Año Anterior</mat-label>
                    <input matInput formControlName="produccionAnioAnteriorCacaoNacional" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Precio Promedio por Cacao</mat-label>
                    <input matInput formControlName="precioPromedioXCacao" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
