<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container" formGroupName="cacaoNacional">
            <div class="row">
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Total Nacional</mat-label>
                    <input matInput formControlName="areaTotalNacional" autocomplete="off">
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="row">
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Total Nacional Viejo</mat-label>
                    <input matInput formControlName="areaTotalNacionalViejo" autocomplete="off">
                </mat-form-field>
                <div class="col-md-4"></div>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Cacao Viejo</mat-label>
                    <input matInput formControlName="edadCacaoViejo" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Presenta Brotes Basales</mat-label>
                    <input matInput formControlName="brotesBasales" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Presenta Arboles Elite</mat-label>
                    <input matInput formControlName="arbolesElite" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="row">
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Total Viejo Injertado</mat-label>
                    <input matInput formControlName="areaTotalViejoInjertado" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Viejo Injertado 1</mat-label>
                    <input matInput formControlName="areaViejoInjertado" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Viejo Injertado 1</mat-label>
                    <input matInput formControlName="edadViejoInjertado" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Viejo Injertado 2</mat-label>
                    <input matInput formControlName="areaViejoInjertado2" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Viejo Injertado 2</mat-label>
                    <input matInput formControlName="edadViejoInjertado2" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="row">
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Total Nuevos Clones</mat-label>
                    <input matInput formControlName="areaTotalNuevosClones" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Nuevos Clones 1</mat-label>
                    <input matInput formControlName="areaNuevosClones" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 1</mat-label>
                    <input matInput formControlName="edadNuevosClones" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Nuevos Clones 2</mat-label>
                    <input matInput formControlName="areaNuevosClones2" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 2</mat-label>
                    <input matInput formControlName="edadNuevosClones2" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Area Nuevos Clones 3</mat-label>
                    <input matInput formControlName="areaNuevosClones3" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-4" appearance="outline" >
                    <mat-label>Edad Nuevos Clones 3</mat-label>
                    <input matInput formControlName="edadNuevosClones3" autocomplete="off" >
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Produccion Año Anterior</mat-label>
                    <input matInput formControlName="produccionAnioAnteriorCacaoNacional" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Precio Promedio por Cacao</mat-label>
                    <input matInput formControlName="precioPromedioXCacao" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
