<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>AD Sanchez</h1>
      <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list *ngFor="let sidebarnavItem of sideMenuItems">

        <a mat-list-item [routerLink]="sidebarnavItem.routerLink">
            <span id="icono" class="material-icons">{{sidebarnavItem.icon}}</span>
            {{sidebarnavItem.title}} 
        </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>