.example-card{
    margin: 1rem;
}

.mat-card-title {
    margin-left: -16px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);
}

.inner {
    padding: 12px;
}

