<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="insumos">
            <mat-form-field appearance="outline">
                <mat-label>FERTILIZANTE EDAFICO</mat-label>
                <input matInput formControlName="estadoFertilizanteEdafico" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>FERTILIZANTE FOLIAR</mat-label>
                <input matInput formControlName="estadoFertilizanteFoliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>FERTILIZANTE EDAFICO</mat-label>
                <input matInput formControlName="necesitaFertilizanteEdafico" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>FERTILIZANTE FOLIAR</mat-label>
                <input matInput formControlName="necesitaFertilizanteFoliar" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>