<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="preguntasAdicionales">
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Tiene area libre para sembrar</mat-label>
                    <mat-select formControlName="tieneAreaLibreParaSembrar" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hayAreaLibre()" class="column-item-3" appearance="outline" >
                    <mat-label>Cuanto</mat-label>
                    <input matInput formControlName="areaLibre" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>Necesita rehab./reinjerto</mat-label>
                    <mat-select formControlName="necesitaRehaReinjerto" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="necesitaRehab()" class="column-item-3" appearance="outline" >
                    <mat-label>Cuanto</mat-label>
                    <input matInput formControlName="cantidad" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
