<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="saludSeguridadOcupacional">
            <div class="columns-flex">
                <mat-form-field class="column-item-6" appearance="outline" >
                    <mat-label>Accidentes Laborales del Ultimo Año en Finca</mat-label>
                    <mat-select formControlName="accidentesLaboralesUltimoAnio" [(ngModel)]="hayAccidente" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hayAccidente === 'SI'" class="column-item-3" appearance="outline" >
                    <mat-label>Tipo Accidente</mat-label>
                    <mat-select formControlName="tipoAccidente" [(ngModel)]="accidente" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let acc of tiposAccidente" [value]="acc">{{acc}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-full" appearance="outline" >
                    <mat-label>Ha sufrido Usted, un Familiar o Trabajador algún Episodio de Intexicación?</mat-label>
                    <mat-select formControlName="periodoIntoxicacionPresente" [(ngModel)]="hayIntoxicado" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="hayIntoxicado === 'SI'" class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>¿Con que Producto?</mat-label>
                    <input matInput formControlName="producto" name="someUnusualName" autocomplete="off" >
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-2" appearance="outline" >
                    <mat-label>¿Hay un centro de salud cercano?</mat-label>
                    <mat-select formControlName="centroSaludCercano" [(ngModel)]="hayCentroSalud" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
