<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div id="contenido" formGroupName="cacaoNacionalNuevosClones">
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline">
                    <mat-label>Uso Anterior del Area Nueva</mat-label>
                    <mat-select formControlName="usoAnteriorAreaNueva" [(ngModel)]="selectedUso" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let uso of usosAnteriores" [value]="uso">{{uso}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="selectedUso === 'OTRO'" class="column-item-2">
                    <mat-label>Especifique:</mat-label>
                    <input matInput formControlName="tipoVariedad" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="columns-flex">
                <mat-form-field class="column-item-3" appearance="outline">
                    <mat-label>Que Variedad Tiene</mat-label>
                    <mat-select formControlName="tipoVariedad" [(ngModel)]="tipoVariedad" name="someUnusualName" autocomplete="off">
                        <mat-option *ngFor="let uso of usosAnteriores" [value]="uso">{{uso}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="selectedUso === 'OTRO'" class="column-item-2">
                    <mat-label>Especifique:</mat-label>
                    <input matInput formControlName="tipoVariedad" name="someUnusualName" autocomplete="off">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" >
                <mat-label>Que Variedad Tiene</mat-label>
                <input matInput formControlName="tipoVariedad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Especifique</mat-label>
                <input matInput formControlName="especifiqueOtros" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Las Variedades Sembradas muestran ser:</mat-label>
                <input matInput formControlName="variedadesSembradasCalificacion" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Plantulas Adaptacion Condiciones Edafoclimaticas</mat-label>
                <input matInput formControlName="plantulasCondicionesEdafoclimaticas" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Plantulas Rendimiento</mat-label>
                <input matInput formControlName="plantulasRendimiento" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Plantulas Vigor de la Planta</mat-label>
                <input matInput formControlName="plantulasVigorPlanta" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Plantulas Resistencia a Enfermedades</mat-label>
                <input matInput formControlName="plantulasResistenciaEnfermedades" name="someUnusualName" autocomplete="off" >
            </mat-form-field>
        </div>
    </mat-card-content>
</form>
