.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    margin-bottom: 2%;
}

h1 {
    font-size: 120%;
    margin-left: 0.5%;
}

div ul h1 {
    display: inline;
    margin-right: 5%;
}

li {
    display: inline;
    padding-right: 5%;
}