<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container" formGroupName="cacaoNacionalNuevosClones">
            <div class="row">
                <mat-form-field class="col-sm-4" appearance="outline">
                    <mat-label>Uso Anterior del Area Nueva</mat-label>
                    <mat-select formControlName="usoAnteriorAreaNueva" autocomplete="off">
                        <mat-option *ngFor="let uso of usosAnteriores" [value]="uso">{{uso}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="otroUsoAnteriorAreaNueva()" class="col-sm-8" appearance="outline">
                    <mat-label>Especifique:</mat-label>
                    <input matInput formControlName="otroUsoAnteriorAreaNueva" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-sm-4" appearance="outline">
                    <mat-label>Que Variedad Tiene</mat-label>
                    <mat-select formControlName="tipoVariedad" autocomplete="off">
                        <mat-option *ngFor="let variedad of variedades" [value]="variedad">{{variedad}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="otroTipoVariedad()" class="col-sm-8" appearance="outline">
                    <mat-label>Especifique:</mat-label>
                    <input matInput formControlName="especifiqueOtros" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <mat-form-field class="col-sm-6" appearance="outline">
                    <mat-label>Las variedades sembradas muestran ser:</mat-label>
                    <mat-select formControlName="variedadesSembradasCalificacion" autocomplete="off">
                        <mat-option *ngFor="let variedad of variedadesSembradasClas" [value]="variedad">{{variedad}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <h3>Sobre las plantulas:</h3>
            <div class="row">
                <mat-form-field class="col-sm-6" appearance="outline">
                    <mat-label>Adaptacion Condiciones Edafoclimaticas</mat-label>
                    <mat-select formControlName="plantulasCondicionesEdafoclimaticas" autocomplete="off">
                        <mat-option *ngFor="let opcion of opcionesPlantulas" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-sm-6" appearance="outline" >
                    <mat-label>Rendimiento</mat-label>
                    <mat-select formControlName="plantulasRendimiento" autocomplete="off">
                        <mat-option *ngFor="let opcion of opcionesPlantulas" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-sm-6" appearance="outline" >
                    <mat-label>Vigor de la Planta</mat-label>
                    <mat-select formControlName="plantulasVigorPlanta" autocomplete="off">
                        <mat-option *ngFor="let opcion of opcionesPlantulas" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-sm-6" appearance="outline" >
                    <mat-label>Resistencia a Enfermedades</mat-label>
                    <mat-select formControlName="plantulasResistenciaEnfermedades" autocomplete="off">
                        <mat-option *ngFor="let opcion of opcionesPlantulas" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 
        </div>
    </mat-card-content>
</form>
