<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container" formGroupName="origenPlantas">
            <div class="row">
                <mat-form-field class="col-md-8" appearance="outline" >
                    <mat-label>Nombre del Vivero</mat-label>
                    <input matInput formControlName="nombreVivero" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-8" appearance="outline" >
                    <mat-label>Ubicacion del Vivero</mat-label>
                    <input matInput formControlName="ubicacionVivero" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Encargado Propagacion</mat-label>
                    <mat-select formControlName="encargadoPropagacion" autocomplete="off">
                        <mat-option *ngFor="let encargado of encargadosPropagacion" [value]="encargado">{{encargado}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Tipo de Conocimiento</mat-label>
                    <mat-select formControlName="tipoConocimiento" autocomplete="off">
                        <mat-option *ngFor="let conocimiento of conocimientos" [value]="conocimiento">{{conocimiento}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="otroEncargado()" class="row">
                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Especifique:</mat-label>
                    <input matInput formControlName="otroEncargadoPropagacion" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Entidad que Donó</mat-label>
                    <input matInput formControlName="entidadDonacion" autocomplete="off" >
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline">
                    <mat-label>Cantidad de Plantas Recibidas</mat-label>
                    <input matInput formControlName="cantidadPlantasRecibidas" autocomplete="off" >
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
