<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                CAPACITACION
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-capacitacion [parentForm]="capacitacionesBeneficioPrograma"></app-capacitacion>
    </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                INCENTIVOS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-incentivos [parentForm]="capacitacionesBeneficioPrograma"></app-incentivos>
    </mat-expansion-panel>
</mat-accordion>