<form [formGroup]="registrosProductor" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row">
            <div class="row align-items-end">
                <div class="col-md-6">
                    <p class="item-text">SABE UD. QUE CANTIDADES VENDE ANUALMENTE DE CACAO (EN QUINTALES)</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput formControlName="ventaAnualCacaoQuintales" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <p class="item-text">CUÁL ES EL INGRESO POR VENTAS EN UN AÑO (EN USD)</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput formControlName="ventaAnualCacaoUSD" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <p class="item-text">CUÁL ES EL EGRESO POR COMPRA DE MATERIALES E INSUMOS (USD)</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput formControlName="egresoCompraMateriales" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <p class="item-text">CUÁL ES EL EGRESO POR MANO DE OBRA (USD)</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput formControlName="egresoManoObra" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <p class="item-text">MANEJO DEL CUADERNILLO DE REGISTROS</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select formControlName="manejoCuadernilloRegistros" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <p class="item-text">MANEJO DE COSTOS Y PLANIFICACIÓN FINANCIERA DE FINCA</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select formControlName="manejoCostosPlanificacionFinanciera" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <p class="item-text">TIENE USTED LA DISPONIBILIDAD DE AHORRAR EN UNA CUENTA</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select formControlName="disponibilidadAhorrarEnCuenta" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <p class="item-text">ESPECIFIQUE TIPO CUENTA:</p>
                    <mat-form-field class="item" appearance="outline">
                        <mat-label></mat-label>
                        <mat-select formControlName="tipoInstitucionAhorroCuenta" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of especifiqueTipoCuenta" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>