<form [formGroup]="informacionFamilia" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container-fluid">
            <div class="miembro">
                <h1>Miembro 1</h1>
                <div class="row">
                    <mat-form-field class="col-md-8" appearance="outline" >
                        <mat-label>Clasificacion del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro1ClasifiacionMiembroFamiliar">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>Edad del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro1Edad">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Genero del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro1Genero">
                            <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro1SeguridadSocial">
                            <mat-option *ngFor="let seg of seguridadSocial" [value]="seg">{{seg}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Labora en la Finca</mat-label>
                        <mat-select formControlName="miembro1LaboraEnFinca">
                            <mat-option *ngFor="let lab of laboraFinca" [value]="lab">{{lab}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Nivel de Educacion</mat-label>
                        <input matInput formControlName="miembro1NivelEduacion">
                    </mat-form-field>
                </div>
                <div *ngIf="m1labora()" class="row">
                    <mat-form-field  class="col-md-8" appearance="outline" >
                        <mat-label>Labor que Realiza</mat-label>
                        <input matInput formControlName="miembro1LaborRealizado">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                        <input matInput formControlName="miembro1HorasAlDiaTrabaja">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                        <mat-select formControlName="miembro1tieneOtraFuenteIngreso">
                            <mat-option *ngFor="let ing of otrosIngresos" [value]="ing">{{ing}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Sueldo o Ingreso Mensual</mat-label>
                        <input matInput formControlName="miembro1sueldoIngresoMensual">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <!--**********************************************************************************************************************-->
            <div class="miembro">
                <h1>Miembro 2</h1>
                <div class="row">
                    <mat-form-field class="col-md-8" appearance="outline" >
                        <mat-label>Clasificacion del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro2ClasifiacionMiembroFamiliar">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>Edad del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro2Edad">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Genero del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro2Genero">
                            <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro2SeguridadSocial">
                            <mat-option *ngFor="let seg of seguridadSocial" [value]="seg">{{seg}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Labora en la Finca</mat-label>
                        <mat-select formControlName="miembro2LaboraEnFinca">
                            <mat-option *ngFor="let lab of laboraFinca" [value]="lab">{{lab}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Nivel de Educacion</mat-label>
                        <input matInput formControlName="miembro2NivelEduacion">
                    </mat-form-field>
                </div>
                <div *ngIf="m2labora()" class="row">
                    <mat-form-field  class="col-md-8" appearance="outline" >
                        <mat-label>Labor que Realiza</mat-label>
                        <input matInput formControlName="miembro2LaborRealizado">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                        <input matInput formControlName="miembro2HorasAlDiaTrabaja">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                        <mat-select formControlName="miembro2tieneOtraFuenteIngreso">
                            <mat-option *ngFor="let ing of otrosIngresos" [value]="ing">{{ing}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Sueldo o Ingreso Mensual</mat-label>
                        <input matInput formControlName="miembro2sueldoIngresoMensual">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <!--**********************************************************************************************************************-->
            <div class="miembro">
                <h1>Miembro 3</h1>
                <div class="row">
                    <mat-form-field class="col-md-8" appearance="outline" >
                        <mat-label>Clasificacion del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro3ClasifiacionMiembroFamiliar">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>Edad del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro3Edad">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Genero del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro3Genero">
                            <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro3SeguridadSocial">
                            <mat-option *ngFor="let seg of seguridadSocial" [value]="seg">{{seg}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Labora en la Finca</mat-label>
                        <mat-select formControlName="miembro3LaboraEnFinca">
                            <mat-option *ngFor="let lab of laboraFinca" [value]="lab">{{lab}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Nivel de Educacion</mat-label>
                        <input matInput formControlName="miembro3NivelEduacion">
                    </mat-form-field>
                </div>
                <div *ngIf="m3labora()" class="row">
                    <mat-form-field  class="col-md-8" appearance="outline" >
                        <mat-label>Labor que Realiza</mat-label>
                        <input matInput formControlName="miembro3LaborRealizado">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                        <input matInput formControlName="miembro3HorasAlDiaTrabaja">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                        <mat-select formControlName="miembro3tieneOtraFuenteIngreso">
                            <mat-option *ngFor="let ing of otrosIngresos" [value]="ing">{{ing}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Sueldo o Ingreso Mensual</mat-label>
                        <input matInput formControlName="miembro3sueldoIngresoMensual">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <!--**********************************************************************************************************************-->
            <div class="miembro">
                <h1>Miembro 4</h1>
                <div class="row">
                    <mat-form-field class="col-md-8" appearance="outline" >
                        <mat-label>Clasificacion del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro4ClasifiacionMiembroFamiliar">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>Edad del Miembro Familiar</mat-label>
                        <input matInput formControlName="miembro4Edad">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Genero del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro4Genero">
                            <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                        <mat-select formControlName="miembro4SeguridadSocial">
                            <mat-option *ngFor="let seg of seguridadSocial" [value]="seg">{{seg}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Labora en la Finca</mat-label>
                        <mat-select formControlName="miembro4LaboraEnFinca">
                            <mat-option *ngFor="let lab of laboraFinca" [value]="lab">{{lab}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Nivel de Educacion</mat-label>
                        <input matInput formControlName="miembro4NivelEduacion">
                    </mat-form-field>
                </div>
                <div *ngIf="m4labora()" class="row">
                    <mat-form-field  class="col-md-8" appearance="outline" >
                        <mat-label>Labor que Realiza</mat-label>
                        <input matInput formControlName="miembro4LaborRealizado">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" appearance="outline" >
                        <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                        <input matInput formControlName="miembro4HorasAlDiaTrabaja">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                        <mat-select formControlName="miembro4tieneOtraFuenteIngreso">
                            <mat-option *ngFor="let ing of otrosIngresos" [value]="ing">{{ing}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" appearance="outline" >
                        <mat-label>Sueldo o Ingreso Mensual</mat-label>
                        <input matInput formControlName="miembro4sueldoIngresoMensual">
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]="true" class="space-down"></mat-divider>
            <!--**********************************************************************************************************************-->
            <h1>Especificaciones:</h1>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Algun Familar presenta Discapacidad</mat-label>
                    <mat-select formControlName="familiarDiscapacitado">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>La Esposa se involucra en la Entrevista</mat-label>
                    <mat-select formControlName="esposaInvolucradaEntrevista">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Esposo incluye Esposa en Entrevista</mat-label>
                    <mat-select formControlName="esposoIncluyeEsposaEntrevista">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Gustaria que su Conyuge tuviera Ingreso Adicional</mat-label>
                    <mat-select formControlName="deseoIngresoAdicionalConyuge">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>Gustaria Trabajo de 1/2 tiempo en Proyectos Futuros del Programa</mat-label>
                    <mat-select formControlName="deseoTrabajoMedioTiempoProyectosFuturos">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="deseaTrabajo()" class="row">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>¿Como cual?</mat-label>
                    <input matInput formControlName="comoCual">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column-item-full" appearance="outline" >
                    <mat-label>Su Hijo estaría interesado en participar en Proyectos de Rehabilitación de Finca</mat-label>
                    <mat-select formControlName="hijoInteresadoEnProyectosRehabilitacionFinca">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
