<form [formGroup]="informacionFamilia" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="container-fluid">
            <div class="miembro" formArrayName="miembros" *ngFor="let value of getFormArray('miembros').controls; let i = index">
                <div class="row justify-content-between">
                    <h1 class="col-md-2">Miembro {{i + 1}}</h1>
                    <div class="col-md-1 col-xs-1">
                        <button id="delete" *ngIf="getFormArray('miembros').length > 1" (click)="deleteMiembro(i)" mat-flat-button>
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-8" [formGroupName]="i" appearance="outline" >
                        <mat-label>Clasificacion del Miembro Familiar</mat-label>
                        <input matInput formControlName="clasificacionMiembroFamiliar">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" [formGroupName]="i" appearance="outline" >
                        <mat-label>Edad del Miembro Familiar</mat-label>
                        <input matInput formControlName="edad">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>Genero del Miembro Familiar</mat-label>
                        <mat-select formControlName="genero">
                            <mat-option *ngFor="let gen of generos" [value]="gen">{{gen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>Seguridad Social del Miembro Familiar</mat-label>
                        <mat-select formControlName="seguridadSocial">
                            <mat-option *ngFor="let seg of seguridadSocial" [value]="seg">{{seg}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>Labora en la Finca</mat-label>
                        <mat-select formControlName="laboraEnFinca">
                            <mat-option *ngFor="let lab of laboraFinca" [value]="lab">{{lab}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>Nivel de Educacion</mat-label>
                        <input matInput formControlName="nivelEduacion">
                    </mat-form-field>
                </div>
                <div *ngIf="labora(i)" class="row">
                    <mat-form-field  class="col-md-8" [formGroupName]="i" appearance="outline" >
                        <mat-label>Labor que Realiza</mat-label>
                        <input matInput formControlName="laborRealizado">
                    </mat-form-field>
                    <mat-form-field class="col-md-4" [formGroupName]="i" appearance="outline" >
                        <mat-label>¿Cuantas Horas al Dia Labora?</mat-label>
                        <input matInput formControlName="horasAlDiaTrabaja">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>¿Tiene otra fuente de Ingresos?</mat-label>
                        <mat-select formControlName="tieneOtraFuenteIngreso">
                            <mat-option *ngFor="let ing of otrosIngresos" [value]="ing">{{ing}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6" [formGroupName]="i" appearance="outline" >
                        <mat-label>Sueldo o Ingreso Mensual</mat-label>
                        <input matInput formControlName="sueldoIngresoMensual">
                    </mat-form-field>
                </div>
                <mat-divider [inset]="true" class="space-down"></mat-divider>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <button mat-button color="primary" (click)="addMiembro()" mat-flat-button>
                        Añadir
                    </button>
                </div>
            </div>
            <h1>Especificaciones:</h1>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Algun Familar presenta Discapacidad</mat-label>
                    <mat-select formControlName="familiarDiscapacitado">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>La Esposa se involucra en la Entrevista</mat-label>
                    <mat-select formControlName="esposaInvolucradaEntrevista">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Esposo incluye Esposa en Entrevista</mat-label>
                    <mat-select formControlName="esposoIncluyeEsposaEntrevista">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6" appearance="outline" >
                    <mat-label>Gustaria que su Conyuge tuviera Ingreso Adicional</mat-label>
                    <mat-select formControlName="deseoIngresoAdicionalConyuge">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>Gustaria Trabajo de 1/2 tiempo en Proyectos Futuros del Programa</mat-label>
                    <mat-select formControlName="deseoTrabajoMedioTiempoProyectosFuturos">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="deseaTrabajo()" class="row">
                <mat-form-field class="column-item-full" appearance="outline">
                    <mat-label>¿Como cual?</mat-label>
                    <input matInput formControlName="comoCual">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="column-item-full" appearance="outline" >
                    <mat-label>Su Hijo estaría interesado en participar en Proyectos de Rehabilitación de Finca</mat-label>
                    <mat-select formControlName="hijoInteresadoEnProyectosRehabilitacionFinca">
                        <mat-option *ngFor="let op of opciones" [value]="op">{{op}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</form>
