<form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row" formGroupName="capacitacion">
            <mat-form-field appearance="outline">
                <mat-label>CACAO FINO DE AROMA, SOSTENIBILIDAD Y TRAZABILIDAD</mat-label>
                <input matInput formControlName="utilidadCacaoFinoAromaSostenibilidadTrazabilidad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>CACAO FINO DE AROMA, SOSTENIBILIDAD Y TRAZABILIDAD</mat-label>
                <input matInput formControlName="aplicaCacaoFinoAromaSostenibilidadTrazabilidad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS AGRÍCOLAS</mat-label>
                <input matInput formControlName="utilidadBuenasPracticasAgricolas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS AGRÍCOLAS</mat-label>
                <input matInput formControlName="aplicaBuenasPracticasAgricolas" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PARÁMETROS DE CALIDAD</mat-label>
                <input matInput formControlName="utilidadParametrosCalidad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PARÁMETROS DE CALIDAD</mat-label>
                <input matInput formControlName="aplicaParametrosCalidad" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS SOCIALES</mat-label>
                <input matInput formControlName="utilidadBuenasPracticasSociales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS SOCIALES</mat-label>
                <input matInput formControlName="aplicaBuenasPracticasSociales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS AMBIENTALES</mat-label>
                <input matInput formControlName="utilidadBuenasPracticasAmbientales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>BUENAS PRÁCTICAS AMBIENTALES</mat-label>
                <input matInput formControlName="aplicaBuenasPracticasAmbientales" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ELABORACIÓN DE PRODUCTOS ORGÁNICOS</mat-label>
                <input matInput formControlName="utilidadElaboracionProductosOrganicos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ELABORACIÓN DE PRODUCTOS ORGÁNICOS</mat-label>
                <input matInput formControlName="aplicaElaboracionProductosOrganicos" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>REPRODUCCIÓN VEGETATIVA</mat-label>
                <input matInput formControlName="utilidadReproduccionVegetativa" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>REPRODUCCIÓN VEGETATIVA</mat-label>
                <input matInput formControlName="aplicaReproduccionVegetativa" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PODA</mat-label>
                <input matInput formControlName="utilidadPoda" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PODA</mat-label>
                <input matInput formControlName="aplicaPoda" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>APICULTURA</mat-label>
                <input matInput formControlName="utilidadApicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>APICULTURA</mat-label>
                <input matInput formControlName="aplicaApicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PORCICULTURA</mat-label>
                <input matInput formControlName="utilidadPorcicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PORCICULTURA</mat-label>
                <input matInput formControlName="aplicaPorcicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PISCICULTURA</mat-label>
                <input matInput formControlName="utilidadPiscicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>PISCICULTURA</mat-label>
                <input matInput formControlName="aplicaPiscicultura" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="utilidadRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>RIEGO</mat-label>
                <input matInput formControlName="aplicaRiego" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>AGROFORESTERÍA DINÁMICA</mat-label>
                <input matInput formControlName="utilidadAgroforesteriaDinamica" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>AGROFORESTERÍA DINÁMICA</mat-label>
                <input matInput formControlName="aplicaAgroforesteriaDinamica" name="someUnusualName" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>QUÉ TEMAS ADICIONALES LE GUSTARÍA APRENDER EN PRÓXIMAS CAPACITACIONES:</mat-label>
                <input matInput formControlName="temasAdicionalesGustariaAprender" name="someUnusualName" autocomplete="off">
            </mat-form-field>
        </div>
    </mat-card-content>
</form>