<form [formGroup]="capacitacion" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div class="row">
            <div class="row align-items-end">
                <div class="col">
                    <p class="item-text" style="text-align: center;margin-bottom: 1.5rem;">TEMAS DE CAPACITACIÓN</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">CACAO FINO DE AROMA, SOSTENIBILIDAD Y TRAZABILIDAD</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadCacaoFinoAromaSostenibilidadTrazabilidad" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaCacaoFinoAromaSostenibilidadTrazabilidad" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">BUENAS PRÁCTICAS AGRÍCOLAS</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadBuenasPracticasAgricolas" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaBuenasPracticasAgricolas" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">PARÁMETROS DE CALIDAD</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadParametrosCalidad" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaParametrosCalidad" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">BUENAS PRÁCTICAS SOCIALES</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadBuenasPracticasSociales" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaBuenasPracticasSociales" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">BUENAS PRÁCTICAS AMBIENTALES</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadBuenasPracticasAmbientales" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaBuenasPracticasAmbientales" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">ELABORACIÓN DE PRODUCTOS ORGÁNICOS</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadElaboracionProductosOrganicos" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaElaboracionProductosOrganicos" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">REPRODUCCIÓN VEGETATIVA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadReproduccionVegetativa" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaReproduccionVegetativa" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">PODA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadPoda" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaPoda" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">APICULTURA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadApicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaApicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">PORCICULTURA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadPorcicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaPorcicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">PISCICULTURA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadPiscicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaPiscicultura" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">RIEGO</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadRiego" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaRiego" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="item-text" style="margin-top: 1rem;">AGROFORESTERÍA DINÁMICA</p>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>UTILIDAD</mat-label>
                        <mat-select formControlName="utilidadAgroforesteriaDinamica" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of utilidad" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="item" appearance="outline">
                        <mat-label>LO APLICA?</mat-label>
                        <mat-select formControlName="aplicaAgroforesteriaDinamica" name="someUnusualName" autocomplete="off">
                            <mat-option *ngFor="let value of yesNoAnswer" [value]="value">
                                {{value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-md-12">
                    <p class="item-text">QUÉ TEMAS ADICIONALES LE GUSTARÍA APRENDER EN PRÓXIMAS CAPACITACIONES:</p>
                    <mat-form-field class="item-full" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput formControlName="temasAdicionalesGustariaAprender" name="someUnusualName" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</form>